# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/


# ==============================
# Environment Variables / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
